@model DefaultSettings

<div class="d-flex gap-2">
    <span class="badge bg-soft-primary text-primary fs-12">@Model.DefaultCurrency</span>
    <span class="badge bg-soft-success text-success fs-12">@Model.DefaultPaymentMethod</span>
</div>
